i {
    cursor: pointer;
}

p {
    margin: 0
}

div.row {
    margin: 0;
}

.tabs {
    margin-top: 10px;
    border-top-left-radius: 10px;
    border-top-right-radius: 10px;
}

.tabs li {
    color: #37474f ;
    background: #b0bec5;
}

.tabs .disabled {
    color: #90a4ae;
    background: #cfd8dc;
}

.wizardTab { 
    padding: 40px;
    padding-bottom: 15px;
    background: #b0bec5;
}

div.buttonRow {
    margin-top: 20px;
    margin-bottom: 20px;
}

label, .input-field label {
    color: #4f626b;
    font-size: 14px;
}